{
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
}

#home,
#about,
.grid-container,
#form,
.media-object {
    display: flex;
    align-items: center;
    justify-content: center;
}

#home {
    height: 100vh;
    flex-direction: column;
}

#name {
    width: 40vw;
    text-align: justify;
}

#title {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 200px;
    height: auto;
}

h1 {
    border-radius: 25%;
    width: 550px;
    height: auto;
    border: 3px solid silver;
    font-family: Alfa Slab One;
    text-align: center;
    font-size: 7vw;
}

h4 {
    font-family: Alfa Slab One;
    margin-top: -10%;
    display: inline-flex;
    flex-direction: row;
    font-size: 2vw;
}

#links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 2vw;
}

#social {
    font-size: 50px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

#about {
    height: 100vh;
    background-color: grey;
    color: black;
}

#biopic {
    border-radius: 25%;
    width: 200px;
    height: auto;
    border: 3px solid silver;
}

#projects {
    height: 100vh;
    background-color: white;
}

#listofprojects {
    height: 50%;
}

#contact {
    height: 100vh;
    background-image: url("./images/kindajean.png");
    font-family: Arial, Helvetica, sans-serif;
}

#contacttitle {
    margin: 5vw;
    margin-bottom: auto;
    margin-top: auto;
    font-weight: bolder;
}

#form {
    width: 90vw;
}

.card {
    max-width: 20vw;
    height: 90%;
}

.shadow {
    box-shadow: 5px 5px 5px black;
}

.media-object {
    width: 60vw;
    margin: 5% 10%;
}

.hoverlinks:hover {
    transform: scale(1.5);
    color: orange;
}

.card:hover {
    border: 3px solid orange;
}